
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
}

.active-link {
  color: blue;
}

ul {
  width: 120px;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}