<script>
    export default {
        data() {
            return {
                title: 'Home page'
            }
        }
    }
</script>
<template>
    <div>
        <h1>
            {{ title }}
        </h1>
    </div>
</template>
