<script>

    export default {
        name: "app",
        data() {
            return {
                message: "Hello"
            };
        }
    };
</script>

<template>
    <div class="container">
        <img src="/img/vue-logo.png" alt="vue-logo">
        <ul>
            <li>
                <router-link to="/" active-class="active-link" exact>Home</router-link>
            </li>
            <li>
                <router-link to="/about" active-class="active-link">About</router-link>
            </li>
        </ul>
        <router-view></router-view>
    </div>
</template>

